body {
	background-color: #82E0AA;
}

.font-second {
	font-family: 'M PLUS 1p', sans-serif;
}

.my-header {
	background-color: #ABEBC6;
	font-size: 25px;
	font-family: 'Major Mono Display', monospace;
}

.my-header .my-welcome {
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 10px;

}

.my-header button {
	font-family: 'M PLUS 1p', sans-serif;
}

.my-content {
	background-color: white;
	/*background-color: #D5F5E3;*/
}

.my-post {
	height: 400px;
	font-family: 'M PLUS 1p', sans-serif;
}

.my-post a {
	text-decoration: none;
	color: black;
}

.my-post img {
	width: auto;
	height: 225px;
	margin: 0 auto;
}

.my-post p {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}

.my-post button {
	border-radius: 0px;
	font-size: 20px;
}

.my-footer {
	background-color: #82E0AA;
	font-family: 'Major Mono Display', monospace;
	font-size: 35px;
}
